.icon {
    fill: #888888;
}
.icon.active {
    fill: #12355F;
}
.nav {
    font-family: Roboto;
    border-left: 4px solid rgba(0,0,0,0);
    transition: border-left 0.2s;
    color: #888888;
}
.nav.active {
    border-left: 4px solid #12355F;
    background-color: #E7F2FF;
    transition: border-left 0.2s;
    color: #12355F;
}