.capsule-container {
    background-color: #fff;
    color: #888;
    border: 1px solid #888;
}
.capsule-container.active {
    background-color: #F48A21;
    border: 1px solid #F48A21;
    color: #fff;
}