.header-container {
    padding: 14px 24px;
    border-bottom: 1px solid #EEEEEE;
}
.header-icon {
    width: 22px;
    height: 22px;
}
.badge {
    right: 4px;
    bottom: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: thin solid #fff
}