.tab {
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-bottom 0.3s;
}
.tab.active {
    border-bottom: 2px solid #12355F;
    transition: border-bottom 0.3s;
    color: #12355F;
}
.tabs-badge {
    background-color: #888888;
}
.tabs-badge.active {
    background-color: #F48A21;
}